<% name ||= "Nuevo"%>
<h1><%= name %> Alumno</h1>
	<%= form_for(@student) do |f| %>

		  <div class="form-group">
		    <label for="text">Nombre:</label>
		    <%= f.text_field :nombre , placeholder: "Nombre" , class:"form-control" %>
		  </div>

      <div class="form-group">
		    <label for="text">Apellido Paterno:</label>
		    <%= f.text_field :app , placeholder: "Apellido Paterno" , class:"form-control" %>
		  </div>

      <div class="form-group">
		    <label for="text">Apellido Materno:</label>
		    <%= f.text_field :apm , placeholder: "Apellido Materno" , class:"form-control" %>
		  </div>

      <div class="form-group">
		    <label for="text">Estado:</label>
		    <%= f.text_field :estado , placeholder: "Estado" , class:"form-control" %>
		  </div>

      <div class="form-group">
		    <label for="text">Municipio:</label>
		    <%= f.text_field :municipio , placeholder: "Municipio" , class:"form-control" %>
		  </div>

      <div class="form-group">
		    <label for="text">Direccion:</label>
		    <%= f.text_field :direccion , placeholder: "Direccion" , class:"form-control" %>
		  </div>

      <!--div class="form-group">
		    <label for="text">Telefono:</label>
		    <%= f.text_field :telefono , placeholder: "Telefono" , class:"form-control" %>
		  </div-->

      <div class="form-group">
		    <label for="text">Celular:</label>
		    <%= f.text_field :celular , placeholder: "Celular" , class:"form-control" %>
		  </div>
      <div class="form-group">
		    <label for="text">Correo:</label>
		    <%= f.text_field :correo , placeholder: "Correo" , class:"form-control" %>
		  </div>

      <div class="form-group">
		    <label for="text">Matricula:</label>
		    <%= f.text_field :matricula , placeholder: "Matricula" , class:"form-control" %>
		  </div>

		  <%= f.submit "Guardar" , class:"btn btn-default" %>
	<%end%>
