<a href="/computers/new" class="btn btn-default	" >Nuevo Equipo</a>
	<h1>Equipo de Computo</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>N Serie</th>
				<th>Marca</th>
				<th>Tipo</th>
				<th>Modelo</th>
				<th>Observaciones</th>
			</tr>
		</thead>
		<tbody>
			<% @computers.each do |computer| %>
				<tr>
					<td><%= computer.equipo%></td>
					<td><%= computer.numserie%></td>
					<td><%= computer.marca%></td>
					<td><%= computer.tipo%></td>
					<td><%= computer.modelo%></td>
					<td><%= computer.observaciones%></td>
					<td><%= link_to "Ver", computer %>  <%= link_to "Eliminar",computer,method: :delete%></td>
				</tr>
			<%end%>
		</tbody>
	</table>


<%= link_to 'Regresar', computers_path %>
