<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>P1</th>
      <th>P2</th>
      <th>P3</th>
      <th>P4</th>
      <th>P5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.p1 %></td>
        <td><%= test.p2 %></td>
        <td><%= test.p3 %></td>
        <td><%= test.p4 %></td>
        <td><%= test.p5 %></td>
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva encuesta', new_test_path %>
