<p id="notice"><%= notice %></p>
<h1>Gracias por contestar nuestra encuenta</h1>
<h3>Que tenga un excelente dia</h3>
<br><br><br>
<p>
  Su encuesta
</p>
<p>
  <strong>P1:</strong>
  <%= @test.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @test.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @test.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @test.p4 %>
</p>

<p>
  <strong>P5:</strong>
  <%= @test.p5 %>
</p>

<!--%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %-->
<a href="/" class="btn-lg btn-default">Atrás</a>
